{% extends "base.html" %}

{% block body %}
<h1>About</h1>
<hr>

<h2>Why Code Check?</h2>
<p>“The power of the Web is in its universality.
Access by everyone regardless of disability is an essential aspect.”</p>
&mdash;Tim Berners-Lee, W3C Director and inventor of the World Wide Web</p>

<br /><p>The web was born accessible, and it's our job to keep it that way. Code Check was created to make web accessibility easier to achieve. With an initial focus on screen readers, Code Check utilizes <a href="http://http://www.section508.gov/" target="_blank">Section 508 standards</a>, screen reader habits, and current web standards to optimize html for screen reader users.</p>

<h2>What's a screen reader?</h2>
<p>A screen reader is software that interprets a computer screen's output and reads it to users. By writing semantic html, keeping current web standards in mind, and understanding how this technology parses our pages, developers can improve web accessibility for screen reader users and beyond.</p>

<h2>Credits</h2>
<p>Code Check was created by <a href="http://hackbrightacademy.com"Hackbright fellow Abigail Young, with much gratitude to Steve Simitzis, Lenny Burdette, Nick Avgerinos, Liz Howard, and Cynthia Dueltgen. Logo icon courtesy of The Noun Project and <a href="http://SuperAtic.com/" target="_blank">SuperAtic LABS</a>.</p>

<p>Grab the code on GitHub <a href="http://github.com/abbyoung/Project" target="_blank">here</a> 


{% endblock %}