<html>
    <head>
        <title>Code Check</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("index")}}">Code Check</a></li>
                        <li><a href="{{url_for("help")}}">Help</a></li>
                        <li><a href="{{url_for("about")}}">About</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
           
            <div id="logo">
                <img src="/static/img/icon.png" alt="Code Check logo, with a checkmark and x." id="logo_img">
                <h1 id="h1_logo">Code Check</h1>
            </div>
            
            <div class="url_form">

                <form role="form" method="post" id="url_form">
                    
                        <label for="url">Enter a URL.</label>
                        <input type="text" id="url" placeholder="http://" name="url" class="form-control" />
                       
                        <button id="url_btn" class="btn btn-info"type="submit">Submit</button>
               
                </form>
            </div>
            <div id="flash"    
                <ul id="flash_msg">
            {% for message in get_flashed_messages() %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
            </div>
            
            <div id="intro">
                <h2><small><br />Check your code. Check your privilege.</small></h2>
            <p>The web was born accessible, and Code Check wants to help keep it that way. Simply type in a url and check any site for screen reader compatibility. Within seconds, you’ll have a full report to help you understand how screen readers interpret the page.</p>
            </div>
            
            <div id="bookmarklet">
                <h2 id="bk-heading">Get the bookmarklet!</h2>
                    <p id="bk-msg">Drag to your bookmarks bar to quickly Code Check any page.</p>
                    <!-- <img id="home-arrow" src="/static/img/skinny_arrow.png" /> -->
                    <i class="icon-circle-arrow-right"></i>
                    <a id="bk-btn" class="btn btn-large btn-info" href="javascript:(function(){var script=document.createElement('SCRIPT');script.src='http://localhost:5000/static/js/app.js';document.body.appendChild(script);})()">Code Check</a>

                 
            </div>

            
            
   

        
    </body>
</html>
